<% include ../partials/header%>

<div class="container my-5">


      <h1>Edit <%=campground.name%></h1>


      <form class="" action="/campgrounds/<%=campground.id%>?_method=PUT" method="post">
        <div class="form-group row">
          <label for="inputCampName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input name="campground[name]" class="form-control" id="inputCampName" value="<%=campground.name%>">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputImageURL" class="col-sm-2 col-form-label">Image url</label>
          <div class="col-sm-10">
            <input name="campground[image]" class="form-control" id="inputImageURL" value="<%=campground.image%>">
          </div>
        </div>
        <div class="form-group row">
          <label for="price" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input name="campground[price]" type="number" min="0" step='0.01' class="form-control" id="price" value="<%=campground.price%>">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="campground[description]" id="inputDescription" rows="5"><%=campground.description%></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-block">Edit Campground</button>
          </div>
        </div>
      </form>
      <a class="btn btn-outline-primary btn-sm" href="/campgrounds" role="button">Go Back</a>
</div>

<% include ../partials/footer%>
