<% include ../partials/header %>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
            <p>Yelp Camp</p>
            <div class="list-group">
              <li class="list-group-item active">Info</li>
              <li class="list-group-item">More</li>
              <li class="list-group-item">Love</li>
            </div>
    </div>
    <div class="col-md-9">
        <div class="card">
              <img src="<%= campground.image %>" class="img-fluid mb-4">
                        <section class="container-fluid px-4 mb-4">
                          <div class="row justify-content-between">
                            <div class="">
                              <h3 class="display-5"><%= campground.name %></h3>
                            </div>
                            <div class="">
                              <h4>$<%= campground.price %>/night</h4>
                            </div>
                          </div>
                          <div class='row px-0'>
                            <p class='mb-auto'><%= campground.description %></p>
                          </div>
                          <div class="row text-muted my-1">Submitted by <%=campground.author.username%></div>
                          <% if (currentUser && campground.author.id.equals(currentUser._id)){ %>
                          <div class='row '>
                            <a class="btn btn-success my-1" href="/campgrounds/<%= campground._id %>/edit" role="button">Edit</a>
                            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                              <button class="btn btn-danger my-1 mx-2" role="submit">Delete</button>
                            </form>
                          </div>
                          <%}%>
                        </section>
        </div>
        <div class="card my-3">

                <a class="btn btn-primary btn mb-3 float-right" href="/campgrounds/<%= campground._id %>/comments/new" role="button">Leave a review</a>

                <% campground.comments.forEach((comment)=>{ %>
                <section class="container-fluid px-4 ">
                <div class='row justify-content-between'>
                  <div>
                    <strong><%=comment.author.username%></strong>
                  </div>
                  <div class='row mr-0'>
                    <span class='mr-1'>9 Nov</span>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <a href="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-outline-success">Edit</a>
                    <form  class="form-inline" action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE" method="post">
                      <button class="btn btn-sm btn-outline-danger mx-1">Delete</button>
                    </form>
                    <%}%>
                  </div>
                </div>
                <div class="row mb-3">
                  <%=comment.text %>
                </div>
                  </section>
                <%});%>
        </div>

    </div>
  </div>
</div>

<% include ../partials/footer %>
