<% include ../partials/header %>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
            <p>Indoor Plants</p>
            <div class="list-group">
              <li class="list-group-item active"><i class="fab fa-envira"></i> <%=plant.difficulty%></li>
              <li class="list-group-item"><i class="fas fa-tint"></i> <%= plant.water %></li>
              <li class="list-group-item"><i class="fas fa-sun"></i></i> <%= plant.light %></li>
              <li class="list-group-item"><i class="fas fa-trash"></i> <%= plant.soil %></li>
            </div>
    </div>
    <div class="col-md-9">
        <div class="card">
              <img src="<%= plant.image %>" class="img-fluid mb-4">
                        <section class="container-fluid px-4 mb-4">
                          <div class="row justify-content-between">
                            <div class="">
                              <h3 class="display-5"><%= plant.name %></h3>
                            </div>
                            <div class="">
                              <h4>$<%= plant.price %>/seedling</h4>
                            </div>
                          </div>
                          <div class='row px-0'>
                            <p class='mb-auto'><%= plant.description %></p>
                          </div>
                          <div class="row text-muted my-1">Submitted by <%=plant.author.username%></div>
                          <% if (currentUser && plant.author.id.equals(currentUser._id)){ %>
                          <div class='row '>
                            <a class="btn btn-success my-1" href="/plants/<%= plant._id %>/edit" role="button">Edit</a>
                            <form action="/plants/<%= plant._id %>?_method=DELETE" method="post">
                              <button class="btn btn-danger my-1 mx-2" role="submit">Delete</button>
                            </form>
                          </div>
                          <%}%>
                        </section>
        </div>
        <div class="card my-3">

                <a class="btn btn-primary btn mb-3 float-right" href="/plants/<%= plant._id %>/comments/new" role="button">Leave your tips</a>

                <% plant.comments.forEach((comment)=>{ %>
                <section class="container-fluid px-4 ">
                <div class='row justify-content-between'>
                  <div>
                    <strong><%=comment.author.username%></strong>
                  </div>
                  <div class='row mr-0'>
                    <span class='mr-1'>9 Nov</span>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <a href="/plants/<%= plant._id %>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-outline-success">Edit</a>
                    <form  class="form-inline" action="/plants/<%= plant._id %>/comments/<%=comment._id%>?_method=DELETE" method="post">
                      <button class="btn btn-sm btn-outline-danger mx-1">Delete</button>
                    </form>
                    <%}%>
                  </div>
                </div>
                <div class="row mb-3">
                  <%=comment.text %>
                </div>
                  </section>
                <%});%>
        </div>

    </div>
  </div>
</div>

<% include ../partials/footer %>
